<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qihoo360.testbadge">
    <!-- 快捷方式相关 begin -->
    <!-- android | xiaomi桌面 -->
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.google.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.sprdlauncher1.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.sprdlauncher1.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.sprdlauncher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.sprdlauncher2.permission.WRITE_SETTINGS" />
    <!-- lenovo -->
    <uses-permission android:name="com.lenovo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lenovo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.lenovo.launcherhdmarket.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lenovo.launcherhdmarket.permission.WRITE_SETTINGS" />
    <!-- lenovo-zuk -->
    <uses-permission android:name="com.zui.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.zui.launcher.permission.WRITE_SETTINGS" />
    <!-- meizu -->
    <uses-permission android:name="com.meizu.flyme.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.meizu.flyme.launcher.permission.WRITE_SETTINGS" />
    <!-- 奇酷 -->
    <uses-permission android:name="com.qiku.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qiku.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.yulong.android.launcher3.READ_SETTINGS" />
    <uses-permission android:name="com.yulong.android.launcher3.WRITE_SETTINGS" />
    <!-- 阿里云os -->
    <uses-permission android:name='com.aliyun.homeshell.permission.READ_SETTINGS' />
    <uses-permission android:name='com.aliyun.homeshell.permission.WRITE_SETTINGS' />
    <!-- htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- TCL -->
    <uses-permission android:name="com.tct.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.tct.launcher.permission.WRITE_SETTINGS"/>
    <!-- FIND-OS -->
    <uses-permission android:name="com.fineos.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.fineos.launcher.permission.WRITE_SETTINGS" />
    <!-- zte -->
    <uses-permission android:name="com.ztemt.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.ztemt.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.zte.lqsoft.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.zte.lqsoft.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.zte.mifavor.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.zte.mifavor.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.zte.mobile.ZteLauncher3D.permission.READ_SETTINGS" />
    <uses-permission android:name="com.zte.mobile.ZteLauncher3D.permission.WRITE_SETTINGS" />
    <uses-permission android:name="cn.nubia.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="cn.nubia.launcher.permission.WRITE_SETTINGS" />
    <!-- samsung -->
    <uses-permission android:name="com.sec.android.app.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.READ_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.WRITE_SETTINGS" />
    <!-- Galaxy 桌面 [http://www.coolapk.com/apk/com.epic.launcher.tw] -->
    <uses-permission android:name="com.epic.launcher.tw.permission.READ_SETTINGS" />
    <uses-permission android:name="com.epic.launcher.tw.permission.WRITE_SETTINGS" />
    <!-- huawei -->
    <uses-permission android:name="com.huawei.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- oppo -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <!-- vivo -->
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.WRITE_SETTINGS" />
    <!-- 锤子 -->
    <uses-permission android:name="com.smartisanos.launcher.WRITE_DATABASE" />
    <uses-permission android:name="com.smartisanos.launcher.READ_DATABASE" />
    <uses-permission android:name="com.smartisanos.launcher.data.ExportDataProvider" />
    <!-- 朵唯(芒果桌面) -->
    <uses-permission android:name="com.huaqin.launcherEx.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huaqin.launcherEx.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.doov.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.doov.launcher.permission.WRITE_SETTINGS"/>

    <!-- 华硕(asus) -->
    <uses-permission android:name="com.asus.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.asus.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.asus.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.asus.launcher3.permission.WRITE_SETTINGS" />
    <!-- 康佳(KONKA) -->
    <uses-permission android:name="com.konka.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.konka.launcher2.permission.WRITE_SETTINGS" />
    <!-- 台电 -->
    <uses-permission android:name="com.jui.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.jui.launcher3.permission.WRITE_SETTINGS" />
    <!-- *360桌面 -->
    <uses-permission android:name="com.qihoo360.home.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.home.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.WRITE_SETTINGS" />
    <!-- *QQ桌面 -->
    <uses-permission android:name="com.tencent.qqlauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.WRITE_SETTINGS" />
    <!-- *Nova Launcher [http://novalauncher.com/] -->
    <uses-permission android:name="com.teslacoilsw.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.teslacoilsw.launcher.permission.READ_SETTINGS" />
    <!-- sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name=".BActivity"/>
        <activity android:name=".CActivity"/>


    </application>

</manifest>